/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/* line 16, ../sass/screen.scss */
.form {
  display: block;
  width: 600px;
  height: 150px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #377AFF;
  border-radius: 20px;
}

/* line 30, ../sass/screen.scss */
label {
  display: block;
  width: 250px;
  margin: 25px auto 25px;
}

/* line 36, ../sass/screen.scss */
.button {
  display: block;
  margin: 0 auto;
}

/* line 41, ../sass/screen.scss */
.preloader {
  display: none;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 150px;
}

/* line 55, ../sass/screen.scss */
.load {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: red;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: #4184FF;
  opacity: 0;
}

/* line 67, ../sass/screen.scss */
.user_profile {
  display: none;
  width: 300px;
  height: 390px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #377AFF;
  border-radius: 20px;
}

/* line 81, ../sass/screen.scss */
.user_foto {
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto 10px;
}

/* line 88, ../sass/screen.scss */
.user_data {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  font: 700 normal 20px/30px none;
  font-family: "Times new roman";
  color: #D0FF00;
}

/* line 97, ../sass/screen.scss */
.user_button {
  display: block;
  width: 100px;
  height: 50px;
  margin: 20px auto 0;
}

/* line 104, ../sass/screen.scss */
.error {
  display: none;
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #377AFF;
  border-radius: 20px;
}

/* line 118, ../sass/screen.scss */
.error_text {
  position: absolute;
  top: 115px;
  left: 35px;
  font: 700 normal 50px/50px none;
  font-family: "Times new roman";
  color: #D0FF00;
}

/* line 127, ../sass/screen.scss */
.ld {
  animation: load 1.5s ease 0s 1 forwards;
}

/* line 131, ../sass/screen.scss */
.ld-redy {
  opacity: 1;
}
